//- Jade MIXINS.

//- +s
mixin s()
	| !{' '}

//- +svg--one( '#dedede' ).class_name
mixin svg--one( color )
	svg.bg_svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 430 100" style="enable-background:new 0 0 430 100;" xml:space="preserve")&attributes(attributes)= classes
		g(style="fill: #{color};")
			path(style="fill: #{color};" d="M356.2,60.1C356.2,60.1,356.2,60.1,356.2,60.1c0.1,0,0.1,0,0.2,0C356.3,60.1,356.3,60.1,356.2,60.1 M424.4,73.2c0-2.8-2-6.1-3.2-9.8c-2-5.8-4-11.7-6.3-17.5c-0.1-0.2-0.1-0.3-0.2-0.5c0,0,0,0,0,0v0c-0.7-1.4-1.8-2.4-3.4-3.1 c-12-5.5-26.3-7.4-40.3-8.6c18,0.1,36,0.4,54,0.6c-0.6,0-4.5-13.4-4.9-14.3c-0.4-1-4.1-14.2-5.2-14.2C380.4,5.4,345.8,5,311.3,5.1 c-66.5,0.2-133.3,1.8-199.3,9.8c-20.8,2.5-41.7,5.4-62.2,9.6c-2.1,0.4-4.2,0.9-6.4,1.3l-17.7,4.4c-1.1,0.3-2.3,0.7-3.4,1.1 c-5.1,1.7-12.1,3.6-15.7,7.8c-1.2,1.4-1.7,2.8-1.2,4.6c0.3,1,0.7,2,1,3.1C13,71.7,18.1,75.5,20.1,76.6c7.7,4.1,16.4,6,25,7.5 c43.4,7.7,88,9.4,132.1,10.3c44.7,0.9,89.5,0.2,134.1-1.8c21.6-1,43.2-2.3,64.6-5c14.1-1.8,31.6-2.6,44.6-9.1 C423.3,76.9,424.4,75.2,424.4,73.2c0,0.1,0.1,0.2,0.1,0.2C424.5,73.4,424.4,73.3,424.4,73.2")

//- +svg--two( '#dedede' ).class_name
mixin svg--two( color )
	svg.bg_svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 374 80" style="enable-background:new 0 0 374 80;" xml:space="preserve")&attributes(attributes)= classes
		g(style="fill: #{color};")
			path(style="fill: #{color};" d="M23.4,76c-4.3,0-7.8-3.4-7.9-7.7c-0.1-2,0.6-3.8,1.8-5.3l-4.7,0h-0.1c-4.3,0-7.8-3.4-7.9-7.7 c-0.1-4.2,3.1-7.8,7.3-8.1c-1.4-1.4-2.2-3.3-2.3-5.4c0-0.6,0-1.2,0.2-1.7C6,39.7,3.1,36.5,3,32.6c-0.1-4.3,3.3-8,7.7-8.1l2.9-0.1 c-0.2-0.7-0.4-1.5-0.4-2.3c0-1.2,0.2-2.3,0.6-3.3h-0.2c-4.4,0-7.9-3.5-7.9-7.9s3.5-7.9,7.9-7.9h348.6c4.3,0,7.8,3.4,7.9,7.7 c0.1,4.3-3.3,7.9-7.6,8l-2,0.1c1.6,1.6,2.4,3.9,2.1,6.3c-0.3,2.9-2.1,5.2-4.6,6.4l4,0h0.1c4.3,0,7.8,3.4,7.9,7.7 c0.1,4.3-3.2,7.9-7.5,8.1l-3.4,0.2c1.4,1.4,2.2,3.2,2.3,5.3c0.1,2.4-0.9,4.6-2.6,6.1c4.2,0.2,7.5,3.6,7.6,7.8 c0,4.4-3.5,7.9-7.9,7.9L23.4,76L23.4,76z")

//- +svg--three( '#dedede' ).class_name
mixin svg--three( color )
	svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 315 90" style="enable-background:new 0 0 315 90;" xml:space="preserve")&attributes(attributes)= classes
		g(style="fill: #{color};")
			path(style="fill: #{color};" d="M16.7,81.1C12,81,6.3,80.8,3.9,80.7c-2.4-0.1-3.8-4-2.3-8.7l18.7-59.3c1.5-4.7,6.5-8.3,11.2-8.1 c0,0,201.1,1.7,275.4,0.9c4.6-0.2,7.6,3.7,6.5,8.6l-12,58.3c-1,4.9-5.5,9.1-10.2,9.3C261.4,84.8,16.7,81.1,16.7,81.1")

//- +svg--four( '#dedede' ).class_name
mixin svg--four( color )
	svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 304 117" style="enable-background:new 0 0 304 117;" xml:space="preserve")&attributes(attributes)= classes
		g(style="fill: #{color};")
			path(d="M233.8,117c-1.1-0.1-2.3-0.3-3.4-0.7C176,98.8,18.1,87.9,16.5,87.8c0,0,0,0,0,0C7.4,87.2,0.5,78.2,1,67.5 c0.5-10.6,8.1-19.1,17.1-19.1c2.4-7.6,8.5-13.1,15.7-13.3l23.8-0.7c-3.9-4.5-5.8-11.1-4.6-17.9C55.1,5.8,64-1.2,73.1,0.8 c33.6,7.5,213,26.9,214.9,27.1c8.9,1,15.4,9.9,14.9,20.3c-0.2,5-2.1,9.6-4.9,13c1.5,3.7,2,8,1.2,12.3c-1.7,9.4-8.8,16.1-16.9,16.1 l-31.5-0.2c1.4,4,1.7,8.6,0.6,13.1C249,111.6,241.6,117.5,233.8,117")

//- +svg--five( '#dedede' ).class_name
mixin svg--five( color )
	svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 304 117" style="enable-background:new 0 0 304 117;" xml:space="preserve")&attributes(attributes)= classes
		g(style="fill: #{color};")
			path(d="M233.8,117c-1.1-0.1-2.3-0.3-3.4-0.7C176,98.8,18.1,87.9,16.5,87.8c0,0,0,0,0,0C7.4,87.2,0.5,78.2,1,67.5 c0.5-10.6,8.1-19.1,17.1-19.1c2.4-7.6,8.5-13.1,15.7-13.3l23.8-0.7c-3.9-4.5-5.8-11.1-4.6-17.9C55.1,5.8,64-1.2,73.1,0.8 c33.6,7.5,213,26.9,214.9,27.1c8.9,1,15.4,9.9,14.9,20.3c-0.2,5-2.1,9.6-4.9,13c1.5,3.7,2,8,1.2,12.3c-1.7,9.4-8.8,16.1-16.9,16.1 l-31.5-0.2c1.4,4,1.7,8.6,0.6,13.1C249,111.6,241.6,117.5,233.8,117")

//- +svg--six( '#dedede' ).class_name
mixin svg--six( color )
	svg.bg_svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 430 100" style="enable-background:new 0 0 430 100;" xml:space="preserve")&attributes(attributes)= classes
		g(style="fill: #{color};")
			path(style="fill: #{color};" d="M356.2,60.1C356.2,60.1,356.2,60.1,356.2,60.1c0.1,0,0.1,0,0.2,0C356.3,60.1,356.3,60.1,356.2,60.1 M424.4,73.2c0-2.8-2-6.1-3.2-9.8c-2-5.8-4-11.7-6.3-17.5c-0.1-0.2-0.1-0.3-0.2-0.5c0,0,0,0,0,0v0c-0.7-1.4-1.8-2.4-3.4-3.1 c-12-5.5-26.3-7.4-40.3-8.6c18,0.1,36,0.4,54,0.6c-0.6,0-4.5-13.4-4.9-14.3c-0.4-1-4.1-14.2-5.2-14.2C380.4,5.4,345.8,5,311.3,5.1 c-66.5,0.2-133.3,1.8-199.3,9.8c-20.8,2.5-41.7,5.4-62.2,9.6c-2.1,0.4-4.2,0.9-6.4,1.3l-17.7,4.4c-1.1,0.3-2.3,0.7-3.4,1.1 c-5.1,1.7-12.1,3.6-15.7,7.8c-1.2,1.4-1.7,2.8-1.2,4.6c0.3,1,0.7,2,1,3.1C13,71.7,18.1,75.5,20.1,76.6c7.7,4.1,16.4,6,25,7.5 c43.4,7.7,88,9.4,132.1,10.3c44.7,0.9,89.5,0.2,134.1-1.8c21.6-1,43.2-2.3,64.6-5c14.1-1.8,31.6-2.6,44.6-9.1 C423.3,76.9,424.4,75.2,424.4,73.2c0,0.1,0.1,0.2,0.1,0.2C424.5,73.4,424.4,73.3,424.4,73.2")
